/*Poppins*/
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/poppins-v21-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/poppins-v21-latin-500.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/poppins-v21-latin-700.woff2') format('woff2');
  }
  /*palanquin-dark*/
  @font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/palanquin-dark-v14-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/palanquin-dark-v14-latin-500.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/palanquin-dark-v14-latin-600.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Palanquin Dark';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/palanquin-dark-v14-latin-700.woff2') format('woff2');
  }
 /*sniglet*/
  @font-face {
    font-display: swap;
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/sniglet-v17-latin-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/onest-v6-cyrillic_latin-regular.woff2') format('woff2');
  }
  /*Onest*/
@font-face {
  font-display: swap;
  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/onest-v6-cyrillic_latin-regular.woff2') format('woff2');
}