:root{
  
  scroll-behavior: smooth;


}

$font-family: "Poppins", sans-serif;
$font-second-family:"Palanquin Dark",sans-serif;
$font-third-family:"Sniglet",sans-serif;
$font-size:14px;
$font-weight:400;

$blue: #286f6c;
$dark-blue: #0d2f3f;
$dark-grey: #323836;
$orange: #fda300;
$white: #fff;
$bg: #f8f7f2;
$border: #f1f1f1;


